@model SubscribeViewModel

<section id="subscribe">
    <div class="container">
        <div class="title">
            <h2>Don't Want to Miss Anything</h2>
            <img src="~/images/Group.svg" alt="arrow" />
        </div>
        <form method="post" asp-action="Subscribe" asp-controller="Home">

            <div class="alternative">
                <h4>Sign Up for Newsletters</h4>

                <div class="options">
                    <div class="check-box-group">
                        <div class="input-group">
                            <input asp-form="DailyNewsletter" />
                            <label asp-for="DailyNewsletter"></label>
                        </div>
                    </div>
                    <div class="check-box-group">
                        <div class="input-group">
                            <input asp-form="AdvertisingUpdates" />
                            <label asp-for="AdvertisingUpdates"></label>
                        </div>
                    </div>
                    <div class="check-box-group">
                        <div class="input-group">
                            <input asp-form="WeekinReview" />
                            <label asp-for="WeekinReview"></label>
                        </div>
                    </div>
                    <div class="check-box-group">
                        <div class="input-group">
                            <input asp-form="EventUpdates" />
                            <label asp-for="EventUpdates"></label>
                        </div>
                    </div>
                    <div class="check-box-group">
                        <div class="input-group">
                            <input asp-form="StartupsWeekly" />
                            <label asp-for="StartupsWeekly"></label>
                        </div>
                    </div>
                    <div class="check-box-group">
                        <div class="input-group">
                            <input asp-form="Podcasts" />
                            <label asp-for="Podcasts"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-email">
                <div class="input-group">
                    <i class="accept-policy fa-envelope"></i>
                    <input asp-for="Email" />
                </div>
                <button type="submit" class="btn-theme">Subscribe *</button>
            </div>
            @if(!string.IsNullOrEmpty(TempData["StatusMessage"]?.ToString()))
            {
                <span class="status-message"> @TempData["StatusMessage"]</span>
            }
            else
            {
                <span class="status-message">* Yes,I agree to the terms and privacy policy</span>
            }
        </form>
    </div>
</section>